.subHeading {
  text-align: left;
}

.body {
  border: 1px dashed transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
}

.body:hover {
  border: 1px dashed rgba(255, 255, 255, 1);
}

.body p {
  margin: 0 0 2px 0;
}
