.wrapper {
  padding: 3.125rem 1.25rem 1.563rem 1.25rem;
}

.wrapper h4 {
  margin: 0 0 1rem 0;
}

.wrapper div:last-child hr {
  display: none;
}

@media (min-width: 32.5rem) {
  .wrapper {
    padding: 3.125rem 2.5rem 1.563rem 2.5rem;
  }
}
