.wrapper {
  margin: 0 0 1.875rem 0;
}

.col_2_autorow {
  display: grid;
  grid-template-columns: repeat(2, 5.313rem);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: 0.313rem;
}

.col_2_autorow div {
  line-height: 1.3;
}
