.educationItem__wrapper {
  margin: 0 0 30px 0;
  text-align: left;
}

.educationItem__course {
  font-weight: 400;
  margin: 0;
}

.educationItem__institution {
  font-weight: 400;
  margin: 0 0 3px 0;
}