.wrapper {
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-image: url('https://www.transparenttextures.com/patterns/shattered-dark.png'); */
  padding: 1.25rem 1.25rem 3.125rem 1.25rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48rem) {
  .wrapper {
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
  }

  .edit {
    top: 45px;
    right: 45px;
  }
}
