.wrapper {
  background-color: #000000;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: url('https://www.transparenttextures.com/patterns/shattered-dark.png');
  color: #ffffff;
  padding: 1.25rem 1.25rem 3.125rem 1.25rem;
}

.edit {
  position: absolute;
  top: 25px;
  right: 25px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 32.5rem) {
  .wrapper {
    padding: 2.5rem 2.5rem 3.125rem 2.5rem;
  }

  .edit {
    top: 45px;
    right: 45px;
  }
}
