.bgColor {
  background-color: #132e3d;
}

.mbCustom {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  cursor: pointer;
  transition: inherit;
}

@media (min-width: 768px) {
  .mbCustom {
    margin: 0 0 5rem 0 !important;
  }
}
