.header {
  background-color: #0277bd;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  margin: 0 0 1rem 0;
  padding: 3rem 3rem 0 3rem;
}

.actions {
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  justify-content: center;
}

.invalid input {
  border-color: red;
  background: #fbdada;
}
