h2 {
  margin: 0 0 2rem 0;
}

.content {
  margin: 0 0 1rem 0;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.actions {
  margin: 0 0 1rem 0;
}

.invalid input {
  border-color: red;
  background: #fbdada;
}
