.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: rgba(74, 109, 143, 1);
  color: #fff;
  padding: 50px 40px;
  text-align: center;
}

.main {
  background-color: rgba(235, 235, 235, 1);
  color: gray;
  padding: 30px;
  text-align: center;
}
