h6 {
  margin: 0 0 0.375rem 0;
}

label {
  color: black;
}

.br-tl {
  border-radius: 10px 0 0 0;
}

.rounded-top__right {
  border-radius: 0 10px 0 0;
}

.rounded-bottom__right {
  border-radius: 0 0 10px 0;
}

.rounded-bottom__left {
  border-radius: 0 0 0 10px;
}

.rounded-left {
  border-radius: 10px 0 0 10px;
}

.rounded-right {
  border-radius: 0 10px 10px 0;
}
