@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300;400&display=swap');

// Default variable overrides here
// #################################

// grays
$gray-900: #212529 !default;

// theme colors
$primary: #0278bd;
$secondary: #01588a;
$slateBlue: #01273d;
$slateGray: #132e3d;
$lightBlue: #3e95c7;
$dark: $gray-900;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'slateBlue': $slateBlue,
  'slateGray': $slateGray,
  'lightBlue': $lightBlue,
  'dark': $dark,
);

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 1.875,
  7: $spacer * 3,
  8: $spacer * 3.125,
);

$headings-margin-bottom: $spacer / 2;
$headings-font-family: 'Roboto', sans-serif;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

// This import must always be last for default variable overrides
@import '../../node_modules/bootstrap/scss/bootstrap';
// End default variable overrides

// Global reset
// #################################

// Elements
// Reset beginning with xs breakpoint then use media queries
// for required adjustments based on following breakpoints

body {
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

address {
  font-size: 0.8rem;
  padding: 0 20px 0 0;
  line-height: 1.5;
  margin: 0;
}

// End Gobal reset

// Custom classes
// #################################

.avatar {
  margin-left: 10%;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.first {
  margin-top: 1rem;
}

.last {
  margin-bottom: 1rem;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 5.313rem);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: 0.313rem;
  div {
    line-height: 1.3;
  }
}

.resume-intro-header {
  background-color: $secondary;
  color: $white;
  padding: 1.75rem;
}

.resume-intro-body {
  background-color: $primary;
  color: $white;
  font-size: 0.9rem;
  line-height: 1.563rem;
  letter-spacing: 0.004rem;
  padding: 1.75rem;
}

.resume-detail-body {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: 0.004rem;
  padding: 1.75rem;
  h4 {
    margin: 0 0 1rem 0;
  }
  div:last-child hr {
    display: none;
  }
}
// End custom classes

// Media queries
// #################################

// should change 48rem to sass breakpoint variable
@media (min-width: 48rem) {
  .resume-col_1-header,
  .resume-col_1-main,
  .resume-detail-body {
    padding: 2.5rem;
  }
}
